In [8]:
import pandas as pd

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)


df = school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [10]:
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
len(df.groupby("School ID").count())

15

In [24]:
groupby = df.groupby(["grade", "school_name"])
groupby["reading_score"].mean()

grade  school_name
10th   Bailey High School       80.907183
       Cabrera High School      84.253219
       Figueroa High School     81.408912
       Ford High School         81.262712
       Griffin High School      83.706897
       Hernandez High School    80.660147
       Holden High School       83.324561
       Huang High School        81.512386
       Johnson High School      80.773431
       Pena High School         83.612000
       Rodriguez High School    80.629808
       Shelton High School      83.441964
       Thomas High School       84.254157
       Wilson High School       84.021452
       Wright High School       83.812757
11th   Bailey High School       80.945643
       Cabrera High School      83.788382
       Figueroa High School     80.640339
       Ford High School         80.403642
       Griffin High School      84.288089
       Hernandez High School    81.396140
       Holden High School       83.815534
       Huang High School        81.417476
       Johnson High School      80.616027
       Pena High School         84.335938
       Rodriguez High School    80.864811
       Shelton High School      84.373786
       Thomas High School       83.585542
       Wilson High School       83.764608
       Wright High School       84.156322
12th   Bailey High School       80.912451
       Cabrera High School      84.287958
       Figueroa High School     81.384863
       Ford High School         80.662338
       Griffin High School      84.013699
       Hernandez High School    80.857143
       Holden High School       84.698795
       Huang High School        80.305983
       Johnson High School      81.227564
       Pena High School         84.591160
       Rodriguez High School    80.376426
       Shelton High School      82.781671
       Thomas High School       83.831361
       Wilson High School       84.317673
       Wright High School       84.073171
9th    Bailey High School       81.303155
       Cabrera High School      83.676136
       Figueroa High School     81.198598
       Ford High School         80.632653
       Griffin High School      83.369193
       Hernandez High School    80.866860
       Holden High School       83.677165
       Huang High School        81.290284
       Johnson High School      81.260714
       Pena High School         83.807273
       Rodriguez High School    80.993127
       Shelton High School      84.122642
       Thomas High School       83.728850
       Wilson High School       83.939778
       Wright High School       83.833333
Name: reading_score, dtype: float64

In [ ]:
ave_school